/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #16213e;
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #7c5cbf;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #6b47b8;
}

button:disabled {
  cursor: default;
  background: #7c5cbf94;
}

/* Join Page Styles */

/* .centered-form {
  background: #333744;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box {
  box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
  width: 250px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
} */

.big__container {
  height: 90vh;
  width: 100vw;
  background-color: #16213e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: inline-block;
  background-color: aliceblue;
  padding: 30px;
  width: 300px;
  box-shadow: 0px 0px 17px 1px #1d1f26;
}
.container .container__text {
  display: flex;
  justify-content: center;
}
.container .container__text ion-icon {
  font-size: 30px;
  color: #6b47b8;
  margin-top: 6px;
  margin-left: 10px;
}
.container .container__text h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 25px;
  color: #6b47b8;
  font-family: "Montserrat", sans-serif;
}
form input {
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
}
form button {
  margin-top: 40px;
  border-radius: 5px;
  width: 100%;
}

/* Chat Page Layout */

.chat {
  display: flex;
}

.chat__sidebar {
  height: 100vh;
  color: white;
  background: #333744;
  width: 225px;
  overflow-y: scroll;
}

/* Chat styles */

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
}

.message__meta {
  color: #777;
  font-size: 14px;
}

.message a {
  color: #0070cc;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}

.compose button {
  font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  padding: 24px;
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
}
.list-title span {
  color: #0070cc;
}
.users {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0 24px;
}

.footer {
  height: 10vh;
  background-color: #0f1930;
  width: 100%;
}
.footer .footer__text {
  text-align: center;
  color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  font-size: 400;
  font-size: 15px;
}

.footer .footer__text a {
  color: #eeeeee;
  font-family: "Montserrat", sans-serif;
}
